<!--<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>cell</key>
<string>PSGroupCell</string>
<key>headerCellClass</key>
<string>HBPackageNameHeaderCell</string>
<key>icon</key>
<string>icon.png</string>
<key>packageIdentifier</key>
<string>ws.hbang.common</string>
<key>titleColor</key>
<string>#ffffff</string>
<key>subtitleColor</key>
<string>#aaaaaa</string>
</dict>

<dict>
<key>cell</key>
<string>PSEditTextCell</string>
<key>label</key>
<string>Pause/Play Music:</string>
<key>key</key>
<string>pauseMusicSequence</string>
<key>noAutoCorrect</key>
<true/>
<key>defaults</key>
<string>com.squidkingdom.boppreferences.defaults</string>
<key>default</key>
<string>V</string>
</dict>

<dict>
<key>cell</key>
<string>PSEditTextCell</string>
<key>label</key>
<string>Skip Track:</string>
<key>key</key>
<string>skipTrackSequence</string>
<key>noAutoCorrect</key>
<true/>
<key>defaults</key>
<string>com.squidkingdom.boppreferences.defaults</string>
<key>default</key>
<string>P</string>
</dict>

<dict>
<key>cell</key>
<string>PSEditTextCell</string>
<key>label</key>
<string>Toggle Repeat:</string>
<key>key</key>
<string>pauseMusicSequence</string>
<key>noAutoCorrect</key>
<true/>
<key>defaults</key>
<string>com.squidkingdom.boppreferences.defaults</string>
<key>default</key>
<string>DP</string>
</dict>

<dict>
<key>cell</key>
<string>PSEditTextCell</string>
<key>label</key>
<string>Forward Music 15s:</string>
<key>key</key>
<string>f15Sequence</string>
<key>noAutoCorrect</key>
<true/>
<key>defaults</key>
<string>com.squidkingdom.boppreferences.defaults</string>
<key>default</key>
<string>VD</string>
</dict>

<dict>
<key>cell</key>
<string>PSEditTextCell</string>
<key>label</key>
<string>Rewind Music 15s:</string>
<key>key</key>
<string>b15Sequence</string>
<key>noAutoCorrect</key>
<true/>
<key>defaults</key>
<string>com.squidkingdom.boppreferences.defaults</string>
<key>default</key>
<string>VU</string>
</dict>

<dict>
<key>cell</key>
<string>PSButtonCell</string>
<key>label</key>
<string>YEET</string>
<key>action</key>
<string>returnPrefs:</string>
</dict>
</array>
<key>title</key>
<string>Bop Preferences</string>
</dict>
</plist>-->
<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>HBPackageNameHeaderCell</string>
				<key>packageIdentifier</key>
				<string>com.squidkingdom.bop</string>
				<key>showVersion</key>
				<false/>
				<key>backgroundGradientColors</key>
				<array>
					<string>#5FE4DD</string>
					<string>#5FA9E9</string>
				</array>
			</dict>
			<dict>
				<key>big</key>
				<true/>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>label</key>
				<string>My Twitter Page</string>
				<key>user</key>
				<string>squidkingdom</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>label</key>
				<string>Pause/Play Music:</string>
				<key>key</key>
				<string>pauseMusicSequence</string>
				<key>noAutoCorrect</key>
				<true/>
				<key>defaults</key>
				<string>com.squidkingdom.boppreferences.defaults</string>
				<key>default</key>
				<string>V</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>label</key>
				<string>Skip Track:</string>
				<key>key</key>
				<string>skipTrackSequence</string>
				<key>noAutoCorrect</key>
				<true/>
				<key>defaults</key>
				<string>com.squidkingdom.boppreferences.defaults</string>
				<key>default</key>
				<string>VUD</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>label</key>
				<string>Previous Track:</string>
				<key>key</key>
				<string>prevTrackSequence</string>
				<key>noAutoCorrect</key>
				<true/>
				<key>defaults</key>
				<string>com.squidkingdom.boppreferences.defaults</string>
				<key>default</key>
				<string>VDU</string>
			</dict>


<!--
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>label</key>
				<string>Forward Music 15s:</string>
				<key>key</key>
				<string>f15Sequence</string>
				<key>noAutoCorrect</key>
				<true/>
				<key>defaults</key>
				<string>com.squidkingdom.boppreferences.defaults</string>
				<key>default</key>
				<string>VD</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>label</key>
				<string>Rewind Music 15s:</string>
				<key>key</key>
				<string>b15Sequence</string>
				<key>noAutoCorrect</key>
				<true/>
				<key>defaults</key>
				<string>com.squidkingdom.boppreferences.defaults</string>
				<key>default</key>
				<string>VU</string>
			</dict> -->


			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>LifeguardBigTextCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSStaticTextCell</string>
				<key>label</key>
				<string></string>
				<key>height</key>
				<integer>240</integer>

			</dict>









			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Other links</string>
			</dict>


			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>label</key>
				<string>Discord</string>
				<key>subtitle</key>
				<string>Squiddy#2324</string>
				<key>url</key>
				<string>https://discord.com</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>label</key>
				<string>Open Source</string>
				<key>subtitle</key>
				<string>Github</string>
				<key>url</key>
				<string>https://github.com/Squidkingdom/Bop</string>
			</dict>

			<dict>
				<key>cell</key>
				<key>PSGroupCell</key>
				<key>footerAlignment</key>
				<string>1</string>
				<key>footerText</key>
				<string>© 2020 Squidkingdom</string>
			</dict>
		</array>
		<key>title</key>
		<string>Bop</string>
	</dict>
</plist>
